.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

article {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.left {
  width: 100px;
  height: 100px;
}

.left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
